body {
    background-color: grey;
    padding: 0;
    margin: 0;
}

#box{
    background-color: white;
    color: black;
    width: 300px;
    padding: 50px;
    margin: 20px;
}

#map { height: 400px; }