body {
    background-color: grey;
    padding: 0;
    margin: 0;
}

#box{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    margin: 20px;
    font-size: 4em;
    
}

a {
    text-decoration: none;
    color: black;
}

#map { height: 400px; }